<div class="app-container">
  <nav class="navbar">
    <div class="nav-content">
      <div class="nav-brand">
        <span class="brand-icon">🗳️</span>
        <span class="brand-text">SISTEMA ELECTORAL</span>
      </div>
      <div class="nav-links">
  <button (click)="irAInicio()" class="btn-inicio">
    Inicio
  </button>
</div>
    </div>
  </nav>

  <div class="ticker-wrap" *ngIf="isInicio">
    <div class="ticker">
      <div class="ticker-item">
        🔍 <b>FILTRO ELECTORAL:</b> Revisamos el pasado de cada candidato para que sepas quién es quién. <b>No creas en
          simples promesas, conoce la verdad aquí.</b>
      </div>
      <div class="ticker-item">
        🔍 <b>FILTRO ELECTORAL:</b> Revisamos el pasado de cada candidato para que sepas quién es quién. <b>No creas en
          simples promesas, conoce la verdad aquí.</b>
      </div>
    </div>
  </div>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <div class="footer-levels">
      <div class="level-item c-verde">● NIVEL 1: LIMPIO</div>
      <div class="level-item c-amarillo">● NIVEL 2: RECOMENDABLE</div>
      <div class="level-item c-naranja">● NIVEL 3: OBSERVACIONES</div>
      <div class="level-item c-rojo">● NIVEL 4: PELIGRO</div>
    </div>
    <div class="footer-credits">
      <p>Desarrollado por : <i>Calibrando Sistemas</i> | Perú - 2026</p>
    </div>
  </footer>
</div>